<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <div style="color:orangered" th:if="${#fields.hasErrors('name')}" th:errors="*{firstName}">Name error</div>
    <br/>

    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: orangered" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>

    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: orangered" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>

    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: orangered" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <p>
        <label>Roles:
            <input type="checkbox" name="rolesName"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role}"
            />
        </label>
    </p>
    <br>
    <input type="submit" value="create"/>
</form>
<br>
<a th:href="@{/logout}">logout</a>
</body>
</html>