<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    <table th:border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr>
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.age}">...</td>
        </tr>
    </table>
</div>
<br>
<a th:href="@{/{id}/edit(id=${user.id})}">Edit user</a>
<br>
<a th:href="@{/}">Show all users</a>
<br>

<form th:method="DELETE" th:action="@{/{id}(id=${user.id})}">
    <input type="submit" value="delete">
</form>
</body>
</html>