<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>
<div>
    <table th:border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        <tr th:each ="user : ${userList}">
            <td>
                <a th:href="@{/{id}(id=${user.id})}" th:utext="${user.id}">...</a>
            </td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.age}">...</td>
        </tr>
    </table>
</div>

<a th:href="@{/new}">Add new user</a>

</body>
</html>